#!/bin/bash
##################################################
#  暗号化を施したRedmineを起動/停止するスクリプト
##################################################

if [ `whoami` != "root" ]; then
	echo "Please retry as root user."
	exit 1
fi

start() {
  # Redmine 添付ファイルデータのマウント
  echo "Mounting encrypted Redmine files directory"
  sudo -u {{ unicorn_invoking.user }} /usr/local/bin/encfs {{ encrypt_redmine_files_raw_dir }} {{ encrypt_redmine_files_mnt_dir }}
  # MySQL RedmineDBデータのマウント
  echo "Mounting encrypted Redmine DB data directory"
  sudo -u mysql /usr/local/bin/encfs {{ encrypt_redmine_db_raw_dir }} {{ encrypt_redmine_db_mnt_dir }}
  # MySQLを起動
  echo "Starting MySQL"
  service mysqld　start
  # Redmineを起動
  echo "Starting Redmine"
  service redmine start
}

stop() {
  # Redmineを停止
  echo "Stopstopping Redmine"
  service redmine stop
  # MySQLを停止
  echo "Stopstopping MySQL"
  service mysqld stop
  # MySQL RedmineDBデータのアンマウント
  echo "Unmounting encrypted Redmine DB data directory"
  sudo -u mysql fusermount -u {{ encrypt_redmine_db_mnt_dir }}
  # Redmine 添付ファイルデータのアンマウント
  echo "Unmounting encrypted Redmine files directory"
  sudo -u {{ unicorn_invoking.user }} fusermount -u {{ encrypt_redmine_files_mnt_dir }}
}


case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        stop
        start
        ;;
    *)
        echo $"Usage: $prog {start|stop|restart}"
        RETVAL=2
esac

exit $RETVAL
